* {
    box-sizing: border-box;
}

/*通用class*/

.flex_O {
    display: flex;
    flex: 1;
}

.flex_I {
    display: flex;
    flex: 1;
}

.small_header {
    font-size: 20px;
    line-height: 24px;
    font-weight: 600;
    padding: 1px 0 2px 0;
    margin: 37px 0 0 0;
}

.small_text {
    padding: 2px 12px 0 0;
}

.small_buy span {
    font-weight: 600;
}

.small_buy span::after {
    position: relative;
    right: 0;
    content: " ＞";
    transition: all 300ms ease-in-out;
}

.small_buy span::before {
    bottom: 4px;
    width: calc(100% - 16px);
    background: currentColor;
    content: "";
    display: none;
    height: 2px;
    position: absolute;
    transition: all 300ms ease-in-out;
}

.small_buy:hover span::after {
    right: -4px;
}

.small_buy:hover span::before {
    display: block;
}

.img_1779 {
    display: block;
    width: 100%;
}

.img_1084 {
    display: none;
    width: 100%;
}

.img_768 {
    display: none;
    width: 100%;
}

.img_540 {
    display: none;
    width: 100%;
}

.img_0 {
    display: none;
    width: 100%;
}

/******/

body {
    margin: 0;
    padding: 0;
    font-size: 15px;
    font-family: 'Segoe UI', SegoeUI, 'Microsoft JhengHei', 微軟正黑體, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, span, ol, p, ul {
    margin-top: 0;
    margin-bottom: 0;
}

a {
    text-decoration: none;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

.all {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.NavArea {
    padding: 0 5%;
}

#NavArea_position {
    max-width: 1600px;
    margin: 0 auto;
    height: 54px;
    width: 100%;
    display: flex;
}

.icon {
    margin: 1px 0 0 0;
    padding: 16px 6px 16px 10px;
}

.icon>a>img {
    margin-top: -3px;
    width: 108px;
}

.icon>a:focus {
    outline: 1px dashed currentColor;
}

.product_btn {
    padding: 0 1px;
}

.product_btn *:focus {
    outline: 1px dashed currentColor;
}

.product_btn>ul>li {
    display: inline-block;
    position: relative;
}

.product_btn ul li a::before {
    content: "";
    display: none;
    position: absolute;
    width: calc(100% - 16px);
    height: 2px;
    background: currentColor;
    bottom: 9px;
}

.product_btn ul li a:hover::before {
    display: block;
}

.product_btn ul li a:active::before {
    display: block;
}

.product_btn ul li a:focus::before {
    display: block;
}

.product_btn>ul>li>a {
    display: inline-block;
    height: 48px;
    color: #262626;
    padding: 17px 9px 11px;
    margin: 2px 0 0 0;
    font-size: 13px;
}

.nav_bar {
    margin: 0 0 0 auto;
    display: flex;
    align-items: center;
}

.nav_bar a {
    color: #000;
    font-size: 13px;
}

.nav_bar a:focus {
    outline: 1px dashed currentColor;
}

.all_microsoft {
    padding: 13px 20px 14px 15px;
    margin: 1px 25px 0 0;
    position: relative;
}

.all_microsoft span::before {
    bottom: 14px;
    width: calc(100% - 35px);
    background: currentColor;
    content: "";
    display: none;
    height: 2px;
    position: absolute;
}

.all_microsoft:hover span::before {
    display: block;
}

.all_microsoft:active span::before {
    display: block;
}

.all_microsoft:focus span::before {
    display: block;
}

.all_microsoft span::after {
    content: "﹀";
    position: absolute;
    bottom: 8px;
    right: 5px;
}

.nav_bar_icon {
    width: 15px;
    height: 15px;
}

.search_btn {
    padding: 10px 5px;
    margin: 0 20px 0 0;
    display: flex;
    align-items: center;
    position: relative;
}

.search_btn span::before {
    bottom: 5px;
    width: calc(100% - 30px);
    background: currentColor;
    content: "";
    display: none;
    height: 2px;
    position: absolute;
}

.search_btn:hover span::before {
    display: block;
}

.search_btn:active span::before {
    display: block;
}

.search_btn:focus span::before {
    display: block;
}

.shopping_cart {
    padding: 10px 5px;
    margin: 0 20px 0 0;
    display: flex;
    align-items: center;
    position: relative;
}

.shopping_cart span::before {
    bottom: 5px;
    width: calc(100% - 30px);
    background: currentColor;
    content: "";
    display: none;
    height: 2px;
    position: absolute;
}

.shopping_cart:hover span::before {
    display: block;
}

.shopping_cart:active span::before {
    display: block;
}

.shopping_cart:focus span::before {
    display: block;
}

.nav_bar>.icon {
    display: none;
}

.login_btn {
    padding: 10px 5px;
    margin: 0 20px 0 0;
    display: flex;
    align-items: center;
}

.login_btn>img {
    margin: 0 0 0 10px;
    width: 32px;
    height: 32px;
}

/*main*/

.MainArea {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.carousel_Area {
    max-width: calc(1600px + 10%);
    margin: auto;
    padding: 0 5%;
    position: relative;
}

#carousel_img>img {
    content: "";
    position: relative;
    width: 100%;
    opacity: .95;
}

#carousel_L {
    display: flex;
    justify-content: center;
}

.carousel_style {
    position: absolute;
    bottom: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.carousel_style>h2 {
    font-size: 46px;
    line-height: 56px;
    padding: 37px 0 3px;
    font-weight: 600;
    letter-spacing: -.01em;
    box-sizing: content-box;
    max-height: 112px;
}

#carousel_text {
    margin: 12px 0 0 0;
    line-height: 20px;
    font-weight: 400;
    box-sizing: content-box;
    max-height: 80px;
    padding: 0;
}

#carousel_btn {
    margin: 12px 0 0 0;
    padding: 12px 2px 0 0;
}

#left {
    color: #fff;
    background: #000;
    padding: 10px 20px 6px 22px;
    position: relative;
    border: 2px solid transparent;
    outline: 1px solid transparent;
    display: inline-block;
    overflow: hidden;
    font-weight: 600;
    white-space: nowrap;
    box-shadow: 0 4px 8px 0 transparent;
    left: 0;
    transition: all 300ms ease-in-out;
    vertical-align: top;
    line-height: 18.5px;
    text-overflow: clip;
    text-align: center;
}

#left span::before {
    bottom: -2px;
    width: 100%;
    background: currentColor;
    content: "";
    display: none;
    height: 4px;
    position: absolute;
    transition: all 300ms ease-in-out;
}

#left::after {
    font-size: 11px;
    display: inline-block;
    position: relative;
    right: 0;
    content: "＞";
    vertical-align: top;
    transition: all 300ms ease-in-out;
}

#left:hover span::before {
    display: block;
}

#left:hover::after {
    content: "＞";
    right: -4px;
}

#left:hover span {
    left: -4px;
}

#right {
    color: #000;
    padding: 10px 20px 6px 22px;
    position: relative;
    border: 2px solid transparent;
    outline: 1px solid transparent;
    display: inline-block;
    overflow: hidden;
    font-weight: 600;
    white-space: nowrap;
    box-shadow: 0 4px 8px 0 transparent;
    left: 0;
    transition: all 300ms ease-in-out;
    vertical-align: top;
    line-height: 18.5px;
    text-overflow: clip;
    text-align: center;
}

#right span::before {
    bottom: -2px;
    width: 100%;
    background: currentColor;
    content: "";
    display: none;
    height: 4px;
    position: absolute;
    transition: all 300ms ease-in-out;
}

#right::after {
    font-size: 11px;
    display: inline-block;
    position: relative;
    right: 0;
    content: "＞";
    vertical-align: top;
    transition: all 300ms ease-in-out;
}

#right:hover span::before {
    display: block;
}

#right:hover::after {
    content: "＞";
    right: -4px;
}

#right:hover span {
    left: -4px;
}

#carousel_btn>a>span {
    display: inline-block;
    position: relative;
    left: 0;
    text-overflow: clip;
    overflow: hidden;
    transition: all 200ms ease-in-out;
    vertical-align: top;
    line-height: 18.5px;
}

/*product Area*/

.product_Area {
    max-width: calc(1600px + 10%);
    padding: 0 5%;
    display: flex;
}

#product_Area_position {
    margin: 0 -12px;
}

.product_position {
    padding: 0 12px;
    flex: 1;
}

.product_style {
    margin-top: 48px;
}

.product_style img:hover {
    opacity: 0.9;
}

.product_style>a {
    padding: 10px 3px 7px 0;
    position: relative;
    color: #0067b8;
    text-align: left;
    display: inline-block;
}

/*Xbox Area*/

.xbox_Area {
    max-width: calc(1600px + 10%);
    margin: auto;
    padding: 0 5%;
    position: relative;
}

#xbox_Area_position {
    margin: 48px 0 0 0;
}

#xbox_L {
    width: 88%;
    height: 100%;
    max-width: 2048px;
    z-index: 1;
    margin: 0 auto;
    overflow: hidden;
}

.xbox_style {
    position: absolute;
    top: calc(50%);
    transform: translateY(-50%);
}

.xbox_style>h2 {
    font-size: 46px;
    line-height: 56px;
    padding: 37px 0 3px;
    font-weight: 600;
    letter-spacing: -.01em;
    overflow: hidden;
    box-sizing: content-box;
    max-height: 112px;
    font-weight: 600;
    opacity: .95;
}

#xbox_text {
    margin: 12px 0 0 0;
}

#xbox_btn {
    margin: 12px 0 0 0;
    padding: 12px 2px 0 0;
    position: relative;
}

#xbox_btn>a {
    color: #fff;
    background: #000;
    padding: 10px 20px 6px 22px;
}

#xbox_btn>a>span {
    position: relative;
    border: 2px solid transparent;
    outline: 1px solid transparent;
    display: inline-block;
    font-weight: 600;
    white-space: nowrap;
    box-shadow: 0 4px 8px 0 transparent;
    left: 0;
    transition: all 300ms ease-in-out;
    vertical-align: top;
    line-height: 18.5px;
    text-overflow: clip;
    text-align: center;
}

#xbox_btn>a>span::before {
    bottom: -2px;
    width: 100%;
    background: currentColor;
    content: "";
    display: none;
    height: 2px;
    position: absolute;
    transition: all 300ms ease-in-out;
}

#xbox_btn>a::after {
    font-size: 11px;
    display: inline-block;
    position: relative;
    bottom: -3px;
    right: 0;
    content: "＞";
    vertical-align: top;
    transition: all 300ms ease-in-out;
}

#xbox_btn>a:hover span::before {
    display: block;
}

#xbox_btn>a:hover::after {
    content: "＞";
    right: -4px;
}

#xbox_btn>a:hover span {
    left: -4px;
}

/*workspace Area*/

.workplace_Area {
    max-width: calc(1600px + 10%);
    padding: 0 5%;
}

#wp_header {
    padding: 48px 0 0 0;
}

#wp_position {
    margin: -48px -12px 0 -12px;
    padding: 16px 0 0 0;
}

.wp_place_position {
    padding: 0 12px;
    flex: 1;
}

.place_style {
    flex: 1;
    margin-top: 48px;
}

.place_style img:hover {
    opacity: 0.9;
}

.place_style>a {
    padding: 10px 3px 7px 0;
    position: relative;
    border: 2px solid transparent;
    outline: 1px solid transparent;
    outline-offset: -3px;
    margin-left: 0;
    color: #0067b8;
    background: transparent;
    transition: none;
    white-space: normal;
    text-align: left;
    max-width: 100%;
    display: inline-block;
    overflow: hidden;
}

.follow_Area {
    max-width: calc(1600px + 10%);
    width: 100%;
    margin: 0 auto;
    padding: 0 5%;
}

#follow_position {
    margin-top: 48px;
    display: flex;
    align-items: center;
}

#follow_position span {
    line-height: 20px;
    margin: 0 10px 0 0;
}

#follow_position>ul {
    display: flex;
    padding: 0;
    margin: 0;
}

#follow_position>ul>li {
    border: 2px solid transparent;
    outline: 0;
    position: relative;
    width: 32px;
    height: 32px;
    margin: 0 10px 0 0;
}

.footer_Area {
    margin: 48px 0 0 0;
    height: 396px;
    width: 100%;
    background: #f2f2f2;
}

#footer_position {
    margin: auto;
    max-width: calc(1600px + 10%);
    padding: 0 5%;
}

.footer-top {
    display: flex;
    flex-wrap: wrap;
}

.footer-top-in {
    width: 16.6%;
}

.footer-top-in ul li a:hover {
    text-decoration: underline;
}

.font-15 {
    padding: 34px 0 4px;
    font-weight: 600;
    line-height: 20px;
    color: #616161;
    word-break: break-word;
}

.color-black {
    font-size: 11px;
    color: rgba(0, 0, 0, .9);
    word-break: break-word;
    outline: 0;
    padding: 8px 0;
}

.footer-btm {
    display: flex;
    justify-content: space-between;
    padding: 30px 0 16px 0;
}

.footer-btm-L {
    display: flex;
    align-items: center;
}

.footer-btm .footer-btm-L .bottom-logo img {
    width: 20px;
    height: 24px;
    opacity: .5;
}

.nav-btn {
    margin: 0 15px;
}

.nav-btn a:hover {
    text-decoration: underline!important;
}

.footer-btm-R {
    display: flex;
    flex-wrap: wrap;
}

.footer-top-in>ul {
    margin: 0;
    padding: 0;
    display: inline-block;
    /* 上下排 */
}

.footer-top-in>ul>li {
    font-size: 11px;
    line-height: 16px;
    font-family: 'Noto Sans TC', sans-serif;
    color: rgba(0, 0, 0, 0.6);
}

@media (max-width: 1399px) {
    .img_1779 {
        display: none;
    }
    .img_1084 {
        display: block;
    }
    .nav_bar>*>span {
        display: none;
    }
    .nav_bar>.all_microsoft>span {
        display: block;
    }
    .carousel_style>h2 {
        font-size: 24px;
        line-height: 28px;
        padding: 36px 0 4px;
        font-weight: 600;
        max-height: 56px;
    }
    .xbox_style>h2 {
        font-size: 24px;
        line-height: 28px;
        padding: 36px 0 4px;
        font-weight: 600;
        max-height: 56px;
    }
}

@media (max-width: 1083px) {
    .img_1084 {
        display: none;
    }
    .img_768 {
        display: block;
    }
    .padding {
        padding: 0;
    }
    .flex_O {
        flex-direction: column;
    }
    .NavArea {
        padding: 0;
    }
    #NavArea_position {
        padding: 0 24px;
    }
    .carousel_Area {
        padding: 0;
    }
    .product_Area {
        padding: 0 calc(5% - 12px);
    }
    .xbox_Area {
        padding: 0;
    }
    .workplace_Area {
        padding: 0 calc(5% - 12px);
    }
    .carousel_style {
        bottom: 48px;
    }
    .footer_Area {
        height: 624px;
    }
    #footer_position {
        margin: auto;
        max-width: calc(1600px + 10%);
        padding: 0 24px;
    }
    .footer-top-in {
        width: 33%;
    }
}

@media (max-width: 977px) {
    #carousel_btn {
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 859px) {
    #NavArea_position {
        padding: 0;
    }
    #NavArea_position>.icon {
        display: none;
    }
    .product_btn {
        display: none;
    }
    .nav_bar {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 0 0 0;
    }
    .nav_btn {
        margin: 0 0 0 5px;
        flex: 1;
        padding: 10px 5px 10px 10px;
    }
    .nav_btn>img {
        width: 20px;
        height: 20px;
    }
    .search_btn {
        flex: 1;
    }
    .nav_bar>.icon {
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 19;
    }
    .nav_bar>.icon>img {
        margin-top: -3px;
        max-width: none;
        width: 108px;
    }
    .shopping_cart {
        flex: 1;
    }
    .login_btn {
        flex: 1;
    }
    .all_microsoft {
        display: none;
    }
    .product_Area {
        padding: 0 5%;
    }
    .workplace_Area {
        padding: 0 5%;
    }
}

@media (max-width: 767px) {
    .img_768 {
        display: none;
    }
    .img_540 {
        display: block;
    }
    .carousel_Area {
        background-color: #e6e6e6;
    }
    #carousel_btn {
        display: flex;
        flex-direction: row;
    }
    #carousel_img {
        padding-bottom: 43%;
    }
    #carousel_L {
        max-width: 2048px;
        width: 80%;
    }
    #xbox_L {
        max-width: unset;
        padding: 15% 0;
        width: 100%;
        display: flex;
        justify-content: center;
        background-color: #e6e6e6;
    }
    .carousel_style {
        bottom: 15%;
    }
    .xbox_style {
        position: unset;
        transform: unset;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .carousel_style>h2 {
        max-height: 56px;
        font-size: 20px;
        line-height: 24px;
        padding: 10px 0 6px 0;
        max-height: 120px;
        opacity: .95;
    }
    .xbox_style>h2 {
        max-height: 56px;
        font-size: 20px;
        line-height: 24px;
        padding: 10px 0 6px 0;
        max-height: 120px;
        opacity: .95;
    }
    #carousel_text {
        margin: 0 0 0 0;
    }
    #xbox_text {
        margin: 0 0 0 0;
    }
    #carousel_btn {
        margin: 2px 0 0 0;
        padding: 12px 2px 0 0;
    }
    #xbox_btn {
        margin: 12px 0 0 0;
        padding: 12px 2px 0 0;
    }
    .footer_Area {
        height: 681px;
    }
    .footer-btm {
        flex-direction: column;
    }
}

@media (max-width: 539px) {
    /*兩格轉一格*/
    .img_540 {
        display: none;
    }
    .img_0 {
        display: block;
    }
    #carousel_img {
        padding-bottom: 64%;
    }
    .flex_I {
        flex-direction: column;
    }
    .product_style {
        width: 100%;
    }
    .footer_Area {
        height: unset;
    }
    .footer-top-in {
        width: 100%;
    }
}